#root {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  display: block;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
}

.firstRow {
    font-weight: bold;
}

h1 {
    margin-block-end: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    margin-block-end: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}


table.blueTable {
  font-family: Arial, Helvetica, sans-serif;
  border: 0px solid #1C6EA4;
  background-color: #EEEEEE;
  text-align: right;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 6px 6px;
}
table.blueTable tbody td {
  font-size: 14px;
  color: #000000;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 1px solid #444444;
}
table.blueTable thead th {
  font-size: 13px;
  font-weight: normal;
  color: #E8E8E8;
  text-align: right;
  border-left: 1px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}